Classes/Controller/SetupController.php
Configuration/Settings.yaml
Configuration/Production/Settings.yaml
Configuration/Development/Settings.yaml
Resources/Public/twitcode/.sass-cache/*
Resources/Public/twitcode/css/*
