<f:layout name="Index.html" />

<f:section name="content">

	<f:render partial="Headernav" arguments="{logindata: logindata}" />

	<f:flashMessages class="flashmessages" />

	<f:render partial="Back" />

	<h3>Twitcode Help / FAQ</h3>

	<h4>Why this project?</h4>
	<p>
		This service should provide an aditional benefit to the people that like twitter and use twitter for sharing
		knowledge and informations. But this project is also something I use to learn new stuff about FLOW3. I also
		published the project on github so that other people that want to work with FLOW3 have the possibility to look
		up how I solved the one or other thing. There is no garantie for best practices.
	</p>

	<h4>What happens with your personal data</h4>
	<p>
		Nothing! I don't want to save a lot of data about people that use this service. But there are some things I have to store
		so that I can provide you with an optimal service. What I currently store is your Twitter username and your unique
		Twitter userid, so that I find you again after you changed your username. Of course I also store your snippets and the
		relation to your username and also your comments.
	</p>

	<hr />

	<h4>Contact</h4>
	<p>
		If you have any questions about this project feel free to contact me.<br /><br />
		<f:link.action action="contact" controller="Pages" package="Layh.Twitcode">Contact</f:link.action>
	</p>

</f:section>
