<f:layout name="Index.html" />

<f:section name="content">

	<f:render partial="Headernav" arguments="{logindata: logindata}" />

	<f:flashMessages class="flashmessages" />

	<f:render partial="Back" />

	<h3>Twitcode News</h3>
	<h4>Update to FLOW3 1.0<span class="gray"> - 05.11.2011</span></h4>
	<p>
		I really haven't worked on this project for a while. But there have been good reasons. I follow FLOW3 as close as
		possible and after I noticed that there are big changes upcoming, I decided to stop working on the
		project until the release of beta 1. But the beta 1 of FLOW3 was released some time ago and the framework is
		getting better and better. So it was time to get started again and to push twitcode.org to the next level.
	</p>
	<p>
		<strong>Recent changes:</strong>
		<ul>
			<li>
				Update to the current version of FLOW3
			</li>
			<li>
				Added a comment function so that users can comment on each snippet. A login via Twitter is required to
				use the comment function.
			</li>
			<li>
				Added a profil area, where you can access all your posted snippets, all your comments you ever added and
				where you can change your notification settings.
			</li>
			<li>
				Many, many improvements, but this improvments are FLOW3 related and are not visible to you. But perhaps
				you feel the improved performance coming along with the FLOW3 1.0 version.
			</li>
		</ul>
	</p>

</f:section>
