<f:layout name="Index.html" />

<f:section name="content">

	<f:render partial="Headernav" arguments="{logindata: logindata}" />

	<f:flashMessages class="flashmessages" />

	<f:render partial="Back" />

	<h3>Twitcode Terms of Service</h3>
	<p>
		Date Modified: December 3rd, 2010
	</p>

	<p>
		By using twitcode.org, you signify that you have read, understand and agree to
		be bound by these Terms and conditions.
	</p>

	<p>
		Twitcode reserves the right to remove any code snippet for any reason whatsoever.
		Specifically, any code snippet uploaded that is illegal or violates any laws, will be
		immediately deleted. Violating these terms will result in termination of your ability
		to us this service.
	</p>

	<p>
		Twitcode reserves the right to ban any individual uploader or website domain from using our servies for any reason.
	</p>

	<p>
		We cannot be held liable for any damages. All data, messages, comments, text, tags, or other
		materials ("Content"), are the sole responsibility of the person from whom such Content originated.
		You, and not Twitcode, are entirely	responsible for all Content that you upload, post, email,
		transmit or otherwise make available through Twitcode. Twitcode does not control the Content posted
		and does not guarantee the accuracy or integrity of such Content
	</p>

	<p>
		Twitcode shall not be liable for any statements or conduct of any third party using
		the service. By using Twitcode you may be exposed to Content that is indecent, objectionable
		or offensive.
	</p>

	<p>
		Twitcode will not be liable in any way for any Content, including, but not limited to, any errors
		or omissions in any Content. Twitcode will not be liable for any loss or damage of any kind incurred
		as a result of the use of any Content posted, emailed, transmitted or otherwise made available on Twitcode.
		Twitcode assumes no responsibility for the timeliness, deletion, miss-delivery or failure to
		store any User content, communication or personal settings.
	</p>

	<p>
		You agree to indemnify and hold Twitcode, its officers and employees exempt from any claim or demand,
		including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit,
		transmit, post or otherwise make available through Twitcode.
	</p>

	<h4>Improper Use of Data</h4>

	<p>
		Data mining, "scraping", and/or unauthorized crawling of Twitcode by any means is prohibited unless explicit
		permission is given. Using any data from Twitcode (including code snippets, data from images and/or users)
		that is not available through authorized channels is also prohibited unless explicit permission is given.
	</p>

	<p>
		You agree not to access Content through any technology or means other than the snippet pages of the Service itself,
		or other explicitly authorized means Twitcode may designate.
	</p>

	<h4>Copyright</h4>

	<p>
		By uploading your code snippets to Twitcode you give Twitcode permission to use or distribute your code snippets
		on Twitcode.org or affiliated sites.
	</p>

	<p>
		All code snippets uploaded are copyright &copy; their respective owners.
	</p>

	<p>
		For clarity, you retain all of your ownership rights in your Content. However, by submitting
		Content to Twitcode, you hereby grant Twitcode a worldwide, non-exclusive, royalty-free, sublicenseable
		and transferable license to use, reproduce, distribute, prepare derivative works of, display,
		and perform the Content in connection with the Service and Twitcode's (and its successors' and affiliates')
		business, including without limitation for promoting and redistributing part or all of the Service
		(and derivative works thereof) in any media formats and through any media channels.
		You also hereby grant each user of the Service a non-exclusive license to access your Content through
		the Service, and to use, reproduce, distribute, display and perform such Content as permitted
		through the functionality of the Service and under these Terms of Service.<br />
		The above licenses granted by you in media Content you submit to the Service terminate within a
		commercially reasonable time after you remove or delete your media from the Service.
		You understand and agree, however, that Twitcode may retain, but not display, distribute, or perform,
		server copies of your media that have been removed or deleted.
	</p>

	<p>
		If you are a copyright owner or an agent thereof and believe that any User Submission or other content
		infringes upon your copyrights, you may submit a notification pursuant to info(at)twitcode.org
	</p>

</f:section>
