<div id="footer">
	<div class="menu">
		<f:link.action action="index" controller="Standard" package="Layh.Twitcode">Home</f:link.action>
		|
		<f:link.action action="about" controller="Pages" package="Layh.Twitcode">About</f:link.action>
		|
		<f:link.action action="contact" controller="Pages" package="Layh.Twitcode">Contact</f:link.action>
		|
		<!--
		<f:link.action action="imprint" controller="Pages" package="Layh.Twitcode">Imprint</f:link.action>
		|
		-->
		<f:link.action action="terms" controller="Pages" package="Layh.Twitcode">Terms</f:link.action>
		|
		<f:link.action action="privacy" controller="Pages" package="Layh.Twitcode">Privacy</f:link.action>
	</div>
	<div id="copyright">
		Copyright 2010, <a href="http://twitter.com/twitcode_org" target="_blank">twitcode.org</a>
	</div>
</div>