<div id="footer">
	<div class="menu">
		<f:link.action action="index" controller="Standard" package="Twitcode">Home</f:link.action>
		|
		<f:link.action action="about" controller="Pages" package="Twitcode">About</f:link.action>
		|
		<f:link.action action="contact" controller="Pages" package="Twitcode">Contact</f:link.action>
		|
		<f:link.action action="imprint" controller="Pages" package="Twitcode">Imprint</f:link.action>
	</div>
	<div id="copyright">
		Copyright 2009, <a href="http://twitter.com/twitcode_org" target="_blank">twitcode.org</a>
	</div>
</div>