<f:if condition="{logindata.loggedin}">
	<f:then>
		<div class="loggedin">
			<img src="{logindata.data.user_img}" title="profile image" />
			<p>
				Hello {logindata.data.screen_name}<br />
				<f:link.action action="logout" controller="Standard" package="Layh.Twitcode">
					<img class="logout" src="{f:uri.resource(path: 'images/logout.png')}" alt="Logout" title="Logout" />
				</f:link.action>
			</p>
		</div>
	</f:then>
	<f:else>
		<f:link.external uri="{logindata.url}">
			<img src="{f:uri.resource(path: 'images/twitter-signin.png')}" alt="Login" title="Login" />
		</f:link.external>
	</f:else>
</f:if>
