{namespace tc=Layh\Twitcode\ViewHelpers}
<f:layout name="Index.html" />

<f:section name="content">

	<f:render partial="Headernav" arguments="{logindata: logindata}" />

	<f:flashMessages class="flashmessages" />

	<f:render partial="Back" />

	<label>Name</label> <f:format.raw><tc:striptag>{code.label}</tc:striptag></f:format.raw><br />

	<label>Type</label> {code.codetype.name}<br />

	<label>Modified</label> <f:format.date>{code.modified}</f:format.date><br />

	<label>User</label> <f:link.external uri="http://twitter.com/{code.user.name}">{code.user.name}</f:link.external><br />

	<f:if condition="{code.user.flattrid} != ''">
		<br/>
		<label>Flattr</label> <tc:flattr flattrId="{code.user.flattrid}" title="{code.label}" description="{code.description}" /><br />
	</f:if>

	<hr class="spacer" />

	<label>Description</label><br />
	<f:format.raw><tc:striptag>{code.description}</tc:striptag></f:format.raw><br />

	<f:if condition="{editable}">
		<span class="editable">
			<f:link.action action="edit" controller="Code" package="Layh.Twitcode" arguments="{code: code}">
				<img src="{f:uri.resource(path:'images/edit.gif')}" title="edit" alt="edit" />
			</f:link.action>
			<f:link.action action="delete" controller="Code" package="Layh.Twitcode" arguments="{code: code}" class="deletelink">
				<img src="{f:uri.resource(path:'images/delete.gif')}" title="delete" alt="delete" />
			</f:link.action>
			<f:link.action action="twitter" controller="Code" package="Layh.Twitcode" arguments="{code: code}" class="twitterlink">
				<img src="{f:uri.resource(path:'images/twitter.gif')}" title="twitter" alt="twitter" />
			</f:link.action>
		</span>
	</f:if>

	<span class="copycode">
		<a href="#" onclick="showPopup(); return false;">
			Copy code
			<img src="{f:uri.resource(path: 'images/disk.png')}" alt="copy code" title="copy code" />
		</a>
	</span>

	<tc:geshi code="{code.code}" codetype="{code.codetype.type}" /><br />

	<label>Tags:</label>

	<f:for each="{code.tags}" as="tag">
		<span class="tag">{tag.title}</span>&nbsp;
	</f:for>

	<br />

	<!-- popup layer to copy code -->
	<div id="wrapper-codetocopy" style="display:none;">
		<div id="codetocopy">
			<div class="popupnav">
				<span class="right">
					<a href="#" onclick="closePopup(); return false;">
						<img src="{f:uri.resource(path: 'images/close_icon.png')}" alt="close window" title="close window" />
					</a>
				</span>
			</div>
			<textarea readonly>{code.code}</textarea>
		</div>
	</div>
	<!-- end of popup layer -->

	<!-- area for comments -->
	<section id="discussions">

		<h2>Recent comments: ( <f:count subject="{comments}" /> )</h2>
		<!--list discussions for this snippet -->
		<f:if condition="{comments}">
			<f:for each="{comments}" as="comment">
				<label>From:</label> {comment.user.name} on <f:format.date format="d.m.Y - H:i">{comment.modified}</f:format.date>
				<br />
				<p class="comment">{comment.comment}</p>
				<hr />
			</f:for>
		</f:if>

		<br />

		<!-- show form for discussion -->
		<f:if condition="{loggedin}">
		<f:then>
			<f:form action="save" controller="Comment" object="{comment}" name="comment" method="post">
				<f:form.hidden name="code" value="{code}" />
				<f:form.hidden name="commentUser" value="{user}" />
				<label for="discussion">Comment:</label>
				<f:form.textarea name="comment" id="comment" property="comment" rows="5" cols="70" />
				<br /><br />
				<label for="notifiyCodeOwner">Notify the owner:</label>
				<f:form.checkbox name="notifiyCodeOwner" value="1" />
				<br /><br />
				<f:form.submit class="submit" value="" />
			</f:form>
		</f:then>
		<f:else>
				<p class="not-logged-in">Please loggin to leave a comment!!</p>
		</f:else>
		</f:if>
		<!-- end form for discussions -->

	</section>
	<!-- end of comments -->

</f:section>
