<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:f="urn:flow3:fluid">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Index view of Setup controller</title>
		<f:base />
	</head>
	<body>
		<h1>Step 1</h1>
		Importing Database from old structure to new structure<br />
		<f:link.external uri="http://flow.twitcode.org/Twitcode/Setup/remove">RemoveData</f:link.external><br />
		<f:link.external uri="http://flow.twitcode.org/Twitcode/Setup/step1">Import Users / Codetypes</f:link.external><br />
		<f:link.external uri="http://flow.twitcode.org/Twitcode/Setup/step2">Import Code Snippets</f:link.external><br />
	</body>
</html>