{namespace tc=Layh\Twitcode\ViewHelpers}
<f:layout name="Index.html" />

<f:section name="content">

	<f:render partial="Headernav" arguments="{logindata: logindata}" />

	<f:flashMessages class="flashmessages" />

	<f:render partial="Back" />

	<h3>Twitcode snippets by user</h3>
	<p>All your published codesnippets</p>
	<table class="showbyuser">
		<thead>
		<tr>
			<td class="name">Name</td>
			<td class="date">Date</td>
			<td class="type">Codetype</td>
			<td>&nbsp;</td>
		</tr>
		</thead>
		<tbody>
			<f:for each="{snippets}" as="snippet">
				<tr>
					<td class="name">
						<f:link.action action="show" controller="Code" package="Layh.Twitcode" arguments="{code: snippet}">
							<f:format.raw><tc:striptag>{snippet.label}</tc:striptag></f:format.raw>
						</f:link.action>
					</td>
					<td class="date"><f:format.date>{snippet.modified}</f:format.date></td>
					<td class="type">{snippet.codetype.name}</td>
					<td>
						<span class="editable">
							<f:link.action action="edit" controller="Code" package="Layh.Twitcode" arguments="{code: snippet}">
								<img src="{f:uri.resource(path:'images/edit.gif')}" title="edit" alt="edit" />
							</f:link.action>
							<f:link.action action="delete" controller="Code" package="Layh.Twitcode" arguments="{code: snippet}" class="deletelink">
								<img src="{f:uri.resource(path:'images/delete.gif')}" title="delete" alt="delete" />
							</f:link.action>
							<f:link.action action="twitter" controller="Code" package="Layh.Twitcode" arguments="{code: snippet}" class="twitterlink">
								<img src="{f:uri.resource(path:'images/twitter.gif')}" title="twitter" alt="twitter" />
							</f:link.action>
						</span>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>

</f:section>
