<f:layout name="Index.html" />

<f:section name="content">

		<f:render partial="Headernav" arguments="{logindata: logindata}" />

		<f:flashMessages class="flashmessages" />

		<h3>Twitcode snippets by type: <b></b>{codetype.name}</h3>
		<p>
			<f:for each="{snippets}" as="snippet">
				<f:link.action action="show" controller="Standard" package="Twitcode" arguments="{code: snippet}">
					<f:raw>{snippet.label}</f:raw><br />
				</f:link.action>
			</f:for>
		</p>

</f:section>