<f:layout name="Index.html" />

<f:section name="content">

	<f:render partial="Headernav" arguments="{logindata: logindata}" />

	<f:flashMessages class="flashmessages" />

	<f:render partial="Back" />

	<f:render partial="FormErrors" arguments="{for: code}" />

	<h3>Edit your snippet</h3>
	<f:form action="/update" controller="Standard" package="Layh.Twitcode" object="{code}" name="code" method="post">
		<label for="label">Name:</label> <f:form.textbox property="label" id="label" /><br /><br />
		<label for="codetype">Codetype:</label> <f:form.select value="{code.codetype}" id="codetype" property="codetype" options="{codetypes}" optionLabelField="name" size="1" /><br /><br />
		<label for="code">Code:</label> <f:form.textarea id="code" property="code" rows="15" cols="70" /><br /><br />
		<label for="description">Description:</label> <f:form.textarea id="description" property="description" rows="5" cols="70" /><br /><br />
		<f:form.submit value="Submit" />
	</f:form>

</f:section>
