<f:layout name="Index.html" />

<f:section name="content">

		<f:render partial="Headernav" arguments="{logindata: logindata}" />

        <f:flashMessages class="flashmessages" />

		<div class="homepage-logo">
			<img style="width:330px;" src="{f:uri.resource(path: 'images/hp_twitter.jpg')}" alt="twitter-logo" title="twitter-logo" />
		</div>

		<p class="homepage" style="text-align:center;">
			A service to make it easy for you to publish and share your code snippets via twitter.
		</p>

		<div class="share-teaser">
			<f:link.action action="create" controller="Standard" package="Layh.Twitcode">
				<img style="width:450px" src="{f:uri.resource(path: 'images/hp_share.jpg')}" alt="create share show" title="create share show" />
			</f:link.action>
		</div>

		<br />
		<p class="homepage">
			This project is based on FLOW3. An brand new and upcoming, auspicious PHP framework with the original target to create a stable
			base for TYPO3 v5.

			<span class="right">
				<img src="{f:uri.resource(path: 'images/flow3.gif')}" alt="FLOW3 Logo" title="FLOW3 Logo" />
			</span>
		</p>

</f:section>