{namespace tc=F3\Twitcode\ViewHelpers}
<f:layout name="Index.html" />

<f:section name="content">

	<f:flashMessages class="flashmessages" />

	<f:render partial="Headernav" arguments="{logindata: logindata}" />


	<f:if condition="{editable}">
		<f:link.action action="edit" controller="Standard" package="Twitcode" arguments="{code: code}">
			Edit snippet
		</f:link.action>
		<br /><br />
	</f:if>

	<label>Name</label> <f:raw>{code.label}</f:raw><br />

	<label>Type</label> {code.codetype.name}<br />

	<label>Modified</label> <f:format.date>{code.modified}</f:format.date><br />

	<label>User</label> <f:link.external uri="http://twitter.com/{code.user.name}">{code.user.name}</f:link.external><br />

	<br />
	<label>Comment</label><br />
	<f:raw>{code.comment}</f:raw><br />

	<a href="#" onclick="showPopup(); return false;">Show plain code</a>
	<tc:geshi code="{code.code}" codetype="{code.codetype.type}" /><br />

	<!-- popup layer to copy code -->
	<div id="wrapper-codetocopy" style="display:none;">
		<div id="codetocopy">
			<div class="popupnav">
				<span class="left">{code.label}</span>
				<span class="right">
					<a href="#" onclick="closePopup(); return false;">
						<img src="{f:uri.resource(path: 'images/close_icon.png')}" alt="close window" title="close window" />
					</a>
				</span>
			</div>
			<textarea>{code.code}</textarea>
		</div>
	</div>

</f:section>
